<div class="container">

  <h2>Tech Support</h2>

  <div>   
    <!--Prove you can hit the API-->
    <h5>API</h5>
    <div class="form-group">
      <div id="api-response">{{techSupportController.apiResponse}}</div>
      <button ng-click="techSupportController.getApiInfo()" class="btn btn-primary">Refresh</button>
    </div>

    <!-- Testing the toaster -->
    <h5>Notify</h5>
    <div class="form-group">
      <button ng-click="techSupportController.showError()" class="btn btn-primary">Error</button>
      <button ng-click="techSupportController.showWarning()" class="btn btn-primary">Warning</button>
      <button ng-click="techSupportController.showInfo()" class="btn btn-primary">Info</button>
      <button ng-click="techSupportController.showSuccess()" class="btn btn-primary">Success</button>
    </div>

    <!-- Testing exception handling -->
    <h5>Test Exception</h5>
    <div class="form-group">
      <button ng-click="techSupportController.throwException()" class="btn btn-primary">Throw Exception</button>
    </div>

    <!-- Testing http error handling -->
    <h5>Server Error</h5>
    <div class="form-group">
      <button ng-click="techSupportController.checkHttpErrorHandlerError()" class="btn btn-primary">Http Error</button>
    </div>

  </div>
</div>
