{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },

  "extends": ["eslint:recommended", "angular"],

  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-use-before-define": ["error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "angular/module-getter": 0,
    "angular/module-setter": 0
  },

  "globals": {
    "require": true,
    "module": true,
    "inject": true
  }
}
