.center {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.container {
    margin-left: 30px;
}

.container-fluid {
  background: #fff;
}

.location-buttons {
  margin-bottom: 15px;
}

.list-grid {
  width: 90%;
  height: 500px;
}

.logo {
  margin: 15px 15px 0 0;
}

.nav-buttons {
  margin-bottom: 25px !important;
}
