
.center {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.container {
    margin-left: 30px;
}

.tech-support {
    font-size: 14px !important;
}

.tech-support-input {
    display: inline-block;
    width: 300px;
}

.tech-support-button {
    margin: -8px 0 0 20px;
}

.tech-support-theme {
    background-color: #00967A !important;
    color: #fff !important;
}

.list-grid {
  width: 90%;
  height: 500px;
}
